#container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    gap: 5px;
}

#reset {
    align-self: flex-start;
}

#drawPad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: white;
}

.drawBlock {
    align-self: flex-start;
    flex: 1 1 auto;
    width: auto;
    aspect-ratio: 1;
    background-color: white;
}

.drawBlockFilled {
    align-self: flex-start;
    flex: 1 1 auto;
    width: auto;
    aspect-ratio: 1;
    background-color: lightblue;
}