#container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    gap: 5px;
}

#reset {
    align-self: flex-start;
}

#drawPad {
    display: flex;
    justify-content: flex-start;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: white;
    flex-wrap: wrap;
    gap: 1px;
}

.drawBlock {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: white;
}

.drawBlockFilled {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: lightblue;
}